html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #ff0000;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
}

#vogel {
    width: 225px;
    height: auto;
}
