body {
    color:rgb(0, 0, 0);
    background-color: lightskyblue;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

head{
    color: lightskyblue;
}